// define gloabal scrollbar style
.visible-scrollbar,
.mostly-customized-scrollbar {
  overflow: auto;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b7bbc4;
}